<%- include('../views/head.ejs') %>
    <body>
      <div class="wrapper">
        <div class="mobile-display">
          <%- include('../views/nav-home.ejs') %>
        </div>
        <%- include('../views/header.ejs') %>
          <%- include('../views/resume.ejs') %>
          <div class="desktop-display">
            <%- include('../views/nav-home.ejs') %>
          </div>
      </div>
      <%- include('../views/footer.ejs') %>
    </body>
</html>