<%- include('../views/head.ejs') %>
<body>
  <%- include('../views/nav.ejs') %>
  <div class = "resume-body">
    <h1 class = "Title">Happy Mother's Day</h1>
      <div class="l-Section-content">

      </div>
    <%- include('../views/skills.ejs') %>
    <%- include('../views/experience.ejs') %>
  </div>
  <%- include('../views/contact.ejs') %>
</body>
</html>