<%- include('../views/components/html/html-head.ejs') %>
<body>
 <div class="sp-body">
   <div class="sp-heading">
     <h1>RITUAL</h1>
     <h2>spa</h2>
   </div>
   <div class="sp-panel">
     <!-- panel img  -->
   </div>
 </div>
 <!-- <div class="sp-body">
    <div class="sp-heading" id="sp-service">
      <h1>Services</h1>
      <div class="sp-menu-container">
        <ul>
          <li class="sp-li-underline"><h2><a class="sp-a" id="section1">Beauty</a></h2></li>
          <li class="sp-li-underline"><h2><a class="sp-a" id="section2">Steam</a></h2></li>
          <li class="sp-li-underline"><h2><a class="sp-a" id="section3">Bath</a></h2></li>
          <li class="sp-li-underline"><h2><a class="sp-a" id="section4">Massage</a></h2></li>
        </ul>
      </div>
    </div>
    <div class="sp-panel" id="panel1"></div>  
    <div class="sp-card" id="card1">
      <h2>Facials</h2>
        <div class="sp-title">45 -or- 90 Minutes</div>
            <div class="sp-copy">
              A seamless blend of techniques soothes the shoulders, neck, and back, with lavender & rosemary infused oils promoting natural sensations.
            </div>
        <button class="sp-button">$70/90</button>
      
      <h2>Scrubs</h2>
        <div class="sp-title">45 -or- 90 Minutes</div>
            <div class="sp-copy">
              A seamless blend of techniques soothes the shoulders, neck, and back, with lavender & rosemary infused oils promoting natural sensations.
        </div>
        <button class="sp-button">$70/90</button>

      <h2>Wraps</h2>
        <div class="sp-title">45 -or- 90 Minutes</div>
            <div class="sp-copy">
              A seamless blend of techniques soothes the shoulders, neck, and back, with lavender & rosemary infused oils promoting natural sensations.
        </div>
        <button class="sp-button">$70/90</button>

    </div>

    <div class="sp-card" id="card2">b</div>
    <div class="sp-card" id="card3">c</div>
    <div class="sp-card" id="card4">d</div>
  </div> -->
<div class="card-body">
  <div class="card">
   <div class="card-wrapper card1" id="card1">
    <div class="date">
      <span class="date-label month">
        <%= formattedDate[0] %>
      </span>
      <span class="date-label day">
        <%= formattedDate[1] %>
      </span>
      <span class="date-label year">
        <%= formattedDate[2] %>
      </span>
    </div>
    <div class="data" id="data-a">
      <div class="content">
        <span class="author">Services</span>
        <h1 class="card-title">
          Beauty</h1>
        <p class="card-text">
          Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title One More
        </p>
        
        <div class="content-select">
          <button>ADD</button>
          <span class="content-select-subtitle">Essential Steam
          </span>
          <span class="content-select-subtitle-d">4 -to- 8 hours
          </span>
          <button>ADD</button>
          <span class="content-select-subtitle">Lorem Ipsum
          </span>
          <span class="content-select-subtitle-d">4 -to- 8 hours
          </span>
          <button>ADD</button>
          <span class="content-select-subtitle">Lorem Ipsum
          </span>
          <span class="content-select-subtitle-d">4 -to- 8 hours
          </span>
          <button>ADD</button>
          <span class="content-select-subtitle">Lorem Ipsum
          </span>
          <span class="content-select-subtitle-d">4 -to- 8 hours
          </span>
        </div>
        
      </div>
      <label for="show-menu" class="menu-button"><img src="../assets/icons/action-overflow-icon.png"></label>
      <input type="checkbox" id="show-menu"/>
      <ul class="menu-content">
        <li>
          <a href="#" class="fa fa-bookmark-o">
            <img src="../assets/icons/calendar-icon.png">
          </a>
        </li>
        <li>
          <a href="#" class="fa fa-heart-o">
            <img src="../assets/icons/cart-icon.png">
          </a>
        </li>
        <li>
          <a href="#" class="fa fa-comment-o">
            <img src="../assets/icons/photo-icon.png">
          </a>
        </li>
      </ul>
    </div>
   </div>  
 </div>
 <div class="card">
    <div class="card-wrapper card1" id="card2">
     <div class="date">
       <span class="date-label month">
         <%= formattedDate[0] %>
       </span>
       <span class="date-label day">
         <%= formattedDate[1] %>
       </span>
       <span class="date-label year">
         <%= formattedDate[2] %>
       </span>
     </div>
     <div class="data" id="data-b">
       <div class="content">
         <span class="author">Services</span>
         <h1 class="card-title">
           Steam & Bath</h1>
         <p class="card-text">
            Breath like never before in RITUAL’s Turkish baths, where the elements of water and heat are skillfully blended to invigorate the senses and restore clarity.
          </p>
         
         <div class="content-select">
           <button>ADD</button>
           <span class="content-select-subtitle">Essential Steam
           </span>
           <span class="content-select-subtitle-d">4 -to- 8 hours
           </span>
           <button>ADD</button>
           <span class="content-select-subtitle">Lorem Ipsum
           </span>
           <span class="content-select-subtitle-d">4 -to- 8 hours
           </span>
           <button>ADD</button>
           <span class="content-select-subtitle">Lorem Ipsum
           </span>
           <span class="content-select-subtitle-d">4 -to- 8 hours
           </span>
           <button>ADD</button>
           <span class="content-select-subtitle">Lorem Ipsum
           </span>
           <span class="content-select-subtitle-d">4 -to- 8 hours
           </span>
         </div>
         
       </div>
       <label for="show-menu" class="menu-button"><img src="../assets/icons/action-overflow-icon.png"></label>
       <input type="checkbox" id="show-menu"/>
       <ul class="menu-content">
         <li>
           <a href="#" class="fa fa-bookmark-o">
             <img src="../assets/icons/calendar-icon.png">
           </a>
         </li>
         <li>
           <a href="#" class="fa fa-heart-o">
             <img src="../assets/icons/cart-icon.png">
           </a>
         </li>
         <li>
           <a href="#" class="fa fa-comment-o">
             <img src="../assets/icons/photo-icon.png">
           </a>
         </li>
       </ul>
     </div>
    </div>  
  </div>
   <div class="card">
    <div class="card-wrapper card1" id="card3">
     <div class="date">
       <span class="date-label month">
         <%= formattedDate[0] %>
       </span>
       <span class="date-label day">
         <%= formattedDate[1] %>
       </span>
       <span class="date-label year">
         <%= formattedDate[2] %>
       </span>
     </div>
     <div class="data" id="data-c">
       <div class="content">
         <span class="author">Services</span>
         <h1 class="card-title">
           Massage</h1>
         <p class="card-text">
           Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title One More
         </p>
         
         <div class="content-select">
           <button>ADD</button>
           <span class="content-select-subtitle">Essential Steam
           </span>
           <span class="content-select-subtitle-d">4 -to- 8 hours
           </span>
           <button>ADD</button>
           <span class="content-select-subtitle">Lorem Ipsum
           </span>
           <span class="content-select-subtitle-d">4 -to- 8 hours
           </span>
           <button>ADD</button>
           <span class="content-select-subtitle">Lorem Ipsum
           </span>
           <span class="content-select-subtitle-d">4 -to- 8 hours
           </span>
           <button>ADD</button>
           <span class="content-select-subtitle">Lorem Ipsum
           </span>
           <span class="content-select-subtitle-d">4 -to- 8 hours
           </span>
         </div>
         
       </div>
       <label for="show-menu" class="menu-button"><img src="../assets/icons/action-overflow-icon.png"></label>
       <input type="checkbox" id="show-menu"/>
       <ul class="menu-content">
         <li>
           <a href="#" class="fa fa-bookmark-o">
             <img src="../assets/icons/calendar-icon.png">
           </a>
         </li>
         <li>
           <a href="#" class="fa fa-heart-o">
             <img src="../assets/icons/cart-icon.png">
           </a>
         </li>
         <li>
           <a href="#" class="fa fa-comment-o">
             <img src="../assets/icons/photo-icon.png">
           </a>
         </li>
       </ul>
     </div>
    </div>  
  </div>

</div>
 
  <script src="/js/jquery/spa.js"></script>
</body>
