<%- include('../views/components/html/html-head.ejs') %>
<body>
  <%-  include('../views/components/nav/nav.ejs') %>
    <%- include('../views/responsive-card-layout.ejs') %>
    <%- include('../views/responsive-card-layout-alt.ejs') %>
    <%- include('../views/column-grid-layout.ejs') %>
    <%- include('../views/column-grid-layout-alt.ejs') %>
</body>
</html>